{
  "x-generator": "NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Endatix Platform REST API",
    "description": "The Endatix Platform is an open-source .NET library for data collection and management. This product is actively developed, and some API design characteristics may evolve. For more information, visit <a href=\"https://docs.endatix.com\">Endatix Documentation</a>.",
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://api.endatix.com"
    }
  ],
  "paths": {
    "/api/agents/forms/define": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Define a form using AI assistance",
        "description": "Uses AI to generate or refine a form definition based on the provided prompt.",
        "operationId": "EndatixModulesAgentsDefineFormDefineForm",
        "requestBody": {
          "x-name": "DefineFormRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefineFormRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Form definition generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefineFormResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/agents/conversations/{conversationId}/messages": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get messages for conversation",
        "description": "Gets all messages for the specified conversation for the current user.",
        "operationId": "EndatixModulesAgentsFeaturesMessagesGetUserConversationMessages",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserMessageDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "User does not have access to this conversation."
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/agents/forms/{formId}/conversations/latest": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get latest conversation for form",
        "description": "Gets the most recent conversation for the specified form for the current user.",
        "operationId": "EndatixModulesAgentsFeaturesConversationsGetLatestConversationByFormId",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest conversation retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLatestConversationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/users/{userId}/roles": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Assign a role to a user",
        "description": "Assigns the specified role to a user. Admin-only access.",
        "operationId": "EndatixApiEndpointsUsersAssignRoleToUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The ID of the user to assign the role to.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "AssignRoleRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignRoleRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Role assigned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or role assignment failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get roles assigned to a user",
        "description": "Retrieves all roles assigned to the specified user. Admin-only access.",
        "operationId": "EndatixApiEndpointsUsersGetUserRoles",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The ID of the user to get roles for.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roles retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/users/{userId}/roles/{roleName}": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove a role from a user",
        "description": "Removes the specified role from a user. Admin-only access.",
        "operationId": "EndatixApiEndpointsUsersRemoveRoleFromUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The ID of the user to remove the role from.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "description": "The name of the role to remove.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role removed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or role removal failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/themes": {
      "post": {
        "tags": [
          "Themes"
        ],
        "summary": "Create a new theme",
        "description": "Creates a new theme with the provided data.",
        "operationId": "EndatixApiEndpointsThemesCreate",
        "requestBody": {
          "x-name": "CreateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Theme created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Themes"
        ],
        "summary": "List themes",
        "description": "Lists all themes with optional pagination and filtering.",
        "operationId": "EndatixApiEndpointsThemesList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number (1-based).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Filter expressions.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Themes retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThemeModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/themes/{themeId}": {
      "delete": {
        "tags": [
          "Themes"
        ],
        "summary": "Delete a theme",
        "description": "Deletes a theme by its ID.",
        "operationId": "EndatixApiEndpointsThemesDelete",
        "parameters": [
          {
            "name": "themeId",
            "in": "path",
            "required": true,
            "description": "The ID of the theme to delete.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Theme not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Themes"
        ],
        "summary": "Get a theme by ID",
        "description": "Gets a theme by its ID.",
        "operationId": "EndatixApiEndpointsThemesGetById",
        "parameters": [
          {
            "name": "themeId",
            "in": "path",
            "required": true,
            "description": "The ID of the theme.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Theme retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Theme not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Themes"
        ],
        "summary": "Partially update a theme",
        "description": "Updates specific fields of a theme as provided in the request.",
        "operationId": "EndatixApiEndpointsThemesPartialUpdate",
        "parameters": [
          {
            "name": "themeId",
            "in": "path",
            "required": true,
            "description": "The ID of the theme to update.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "PartialUpdateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Theme updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Theme not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Themes"
        ],
        "summary": "Update a theme",
        "description": "Updates a theme with the provided data.",
        "operationId": "EndatixApiEndpointsThemesUpdate",
        "parameters": [
          {
            "name": "themeId",
            "in": "path",
            "required": true,
            "description": "The ID of the theme to update.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "UpdateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Theme updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Theme not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/tenant-settings": {
      "get": {
        "tags": [
          "Tenant-Settings"
        ],
        "summary": "Get tenant settings for the current tenant",
        "description": "Retrieves tenant configuration settings including.",
        "operationId": "EndatixApiEndpointsTenantSettingsGetTenantSettings",
        "responses": {
          "200": {
            "description": "Tenant settings retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantSettingsModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/submissions": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a new submission",
        "description": "Creates a new form submission",
        "operationId": "EndatixApiEndpointsSubmissionsCreate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form for which the submission is made.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "CreateSubmissionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubmissionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a list of Submissions for a given form",
        "description": "Returns all submissions for a form given formId. Includes all Form Definitions as well as complete and non-complete responses",
        "operationId": "EndatixApiEndpointsSubmissionsListByFormId",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to take.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "The filter expressions",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form Submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubmissionDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found. Pass correct formId"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/submissions/{submissionId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a submission",
        "description": "Deletes a submission.",
        "operationId": "EndatixApiEndpointsSubmissionsDelete",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "The ID of the submission to delete.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a single submission",
        "description": "Gets a single submission based of its Id and its respective formId",
        "operationId": "EndatixApiEndpointsSubmissionsGetById",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "The ID of the form submission.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Submission was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionDetailsModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form submission not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form submission",
        "description": "Updates a form submission for a given form.",
        "operationId": "EndatixApiEndpointsSubmissionsPartialUpdate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form for which the submission is made.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "The ID the submission that will be updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "PartialUpdateSubmissionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateSubmissionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The form submission was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialUpdateSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Form submission not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form submission",
        "description": "Updates a form submission for a given form.",
        "operationId": "EndatixApiEndpointsSubmissionsUpdate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form for which the submission is made.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "The ID the submission that will be updated",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "UpdateSubmissionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubmissionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The form submission was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Form submission not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/submissions/export": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Export submissions",
        "description": "Export submissions for a given form",
        "operationId": "EndatixApiEndpointsSubmissionsExport",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "ExportRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/submissions/by-token/{submissionToken}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a single submission by token",
        "description": "Gets a single submission based on its token and its respective formId",
        "operationId": "EndatixApiEndpointsSubmissionsGetByToken",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionToken",
            "in": "path",
            "required": true,
            "description": "The token of the form submission.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Submission was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Form submission not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form submission by token",
        "description": "Updates a form submission for a given form by token.",
        "operationId": "EndatixApiEndpointsSubmissionsPartialUpdateByToken",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionToken",
            "in": "path",
            "required": true,
            "description": "The token of the submission that will be updated",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "PartialUpdateSubmissionByTokenRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateSubmissionByTokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The form submission was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialUpdateSubmissionByTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Form submission not found or invalid token"
          }
        }
      }
    },
    "/api/forms/{formId}/submissions/{submissionId}/files": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Download files for a submission",
        "description": "Downloads use uploaded files for a given submission",
        "operationId": "EndatixApiEndpointsSubmissionsGetSubmissionFiles",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "GetSubmissionFilesRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSubmissionFilesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid input data.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/submissions/{submissionId}/status": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Update submission status",
        "description": "Updates the status of a form submission.",
        "operationId": "EndatixApiEndpointsSubmissionsUpdateStatus",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "The ID of the submission to update.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "UpdateStatusRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The submission status was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status or business rule violation"
          },
          "404": {
            "description": "Submission not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/roles": {
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Create a new role with permissions",
        "description": "Creates a new role for the current tenant with the specified permissions. Admin-only access.",
        "operationId": "EndatixApiEndpointsRolesCreateRole",
        "requestBody": {
          "x-name": "CreateRoleRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Role created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or role creation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/roles/{roleName}": {
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Delete a role",
        "description": "Deletes the specified role for the current tenant. Admin-only access.",
        "operationId": "EndatixApiEndpointsRolesDeleteRole",
        "parameters": [
          {
            "name": "roleName",
            "in": "path",
            "required": true,
            "description": "The name of the role to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or role deletion failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/my-account/change-password": {
      "post": {
        "tags": [
          "My-Account"
        ],
        "summary": "Changes a user's password",
        "description": "Allows an authenticated user to change their password.",
        "operationId": "EndatixApiEndpointsMyAccountChangePassword",
        "requestBody": {
          "x-name": "ChangePasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Password changed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or current password.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/form-templates": {
      "post": {
        "tags": [
          "Form-Templates"
        ],
        "summary": "Create a new form template",
        "description": "Creates a new form template.",
        "operationId": "EndatixApiEndpointsFormTemplatesCreate",
        "requestBody": {
          "x-name": "CreateFormTemplateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormTemplateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Form template created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFormTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Form-Templates"
        ],
        "summary": "List form templates",
        "description": "Lists all form templates with optional pagination.",
        "operationId": "EndatixApiEndpointsFormTemplatesList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to take.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form templates retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormTemplateModelWithoutJsonData"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/form-templates/{formTemplateId}": {
      "delete": {
        "tags": [
          "Form-Templates"
        ],
        "summary": "Delete a form template",
        "description": "Deletes a form template.",
        "operationId": "EndatixApiEndpointsFormTemplatesDelete",
        "parameters": [
          {
            "name": "formTemplateId",
            "in": "path",
            "required": true,
            "description": "The ID of the form template to delete.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form template not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Form-Templates"
        ],
        "summary": "Get a form template by ID",
        "description": "Gets a form template by its ID.",
        "operationId": "EndatixApiEndpointsFormTemplatesGetById",
        "parameters": [
          {
            "name": "formTemplateId",
            "in": "path",
            "required": true,
            "description": "The ID of the form template to get.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form template retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTemplateModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form template not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Form-Templates"
        ],
        "summary": "Partially update a form template",
        "description": "Partially updates a form template.",
        "operationId": "EndatixApiEndpointsFormTemplatesPartialUpdate",
        "parameters": [
          {
            "name": "formTemplateId",
            "in": "path",
            "required": true,
            "description": "The ID of the form template.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "PartialUpdateFormTemplateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateFormTemplateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Form template updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialUpdateFormTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form template not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a new form",
        "description": "Creates a new form and an active form definition for it.",
        "operationId": "EndatixApiEndpointsFormsCreate",
        "requestBody": {
          "x-name": "CreateFormRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Form created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFormResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "List forms",
        "description": "Lists all forms with optional pagination.",
        "operationId": "EndatixApiEndpointsFormsList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to take.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "filter",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "The filter expressions ",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forms retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}": {
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a form",
        "description": "Deletes a form and all its definitions and submissions.",
        "operationId": "EndatixApiEndpointsFormsDelete",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form to delete.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a form by ID",
        "description": "Gets a form by its ID.",
        "operationId": "EndatixApiEndpointsFormsGetById",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Forms"
        ],
        "summary": "Partially update a form",
        "description": "Partially updates a form.",
        "operationId": "EndatixApiEndpointsFormsPartialUpdate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "PartialUpdateFormRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateFormRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Form updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialUpdateFormResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form",
        "description": "Updates a form.",
        "operationId": "EndatixApiEndpointsFormsUpdate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "UpdateFormRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Form updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFormResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/definitions": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a new form definition",
        "description": "Creates a new form definition for a given form.",
        "operationId": "EndatixApiEndpointsFormDefinitionsCreate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "CreateFormDefinitionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormDefinitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Form definition created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFormDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "List form definitions",
        "description": "Lists all form definitions for a given form with optional pagination.",
        "operationId": "EndatixApiEndpointsFormDefinitionsList",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to take.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form definitions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormDefinitionModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/definition": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get the active form definition",
        "description": "Gets the active form definition for a given form.",
        "operationId": "EndatixApiEndpointsFormDefinitionsGetActive",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active form definition retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Forms"
        ],
        "summary": "Partially update the active form definition",
        "description": "Partially updates the active form definition for a given form.",
        "operationId": "EndatixApiEndpointsFormDefinitionsPartialUpdateActive",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "PartialUpdateActiveFormDefinitionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateActiveFormDefinitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Active form definition updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialUpdateActiveFormDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update the active form definition",
        "description": "Updates the active form definition for a given form.",
        "operationId": "EndatixApiEndpointsFormDefinitionsUpdateActive",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "UpdateActiveFormDefinitionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateActiveFormDefinitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Active form definition updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateActiveFormDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/forms/{formId}/definitions/{definitionId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a form definition by ID",
        "description": "Gets a form definition by its ID for a given form.",
        "operationId": "EndatixApiEndpointsFormDefinitionsGetById",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "description": "The ID of the form definition.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form definition retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form definition or form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Forms"
        ],
        "summary": "Partially update a form definition",
        "description": "Partially updates a form definition for a given form.",
        "operationId": "EndatixApiEndpointsFormDefinitionsPartialUpdate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "description": "The ID of the form definition.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "PartialUpdateFormDefinitionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateFormDefinitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Form definition updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialUpdateFormDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form definition or form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form definition",
        "description": "Updates a form definition for a given form.",
        "operationId": "EndatixApiEndpointsFormDefinitionsUpdate",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "definitionId",
            "in": "path",
            "required": true,
            "description": "The ID of the form definition.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "x-name": "UpdateFormDefinitionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormDefinitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Form definition updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFormDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "404": {
            "description": "Form definition or form not found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/questions": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Create a new custom question",
        "description": "Creates a new custom question with the provided data.",
        "operationId": "EndatixApiEndpointsCustomQuestionsCreate",
        "requestBody": {
          "x-name": "CreateCustomQuestionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomQuestionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Custom question created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomQuestionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "List custom questions",
        "description": "Lists all custom questions for the current tenant.",
        "operationId": "EndatixApiEndpointsCustomQuestionsList",
        "responses": {
          "200": {
            "description": "Custom questions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomQuestionModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in",
        "description": "Authenticates a user based on valid credentials and returns JWT token and refresh token",
        "operationId": "EndatixApiEndpointsAuthLogin",
        "requestBody": {
          "x-name": "LoginRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "User has been successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "The supplied credentials are invalid!",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logs out the authenticated user",
        "description": "Initiates the logout process for the authenticated user.",
        "operationId": "EndatixApiEndpointsAuthLogout",
        "responses": {
          "200": {
            "description": "User logged out successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or authentication state."
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user information",
        "description": "Returns current authenticated user information including roles, permissions, and tenant context. Permissions are resolved server-side for freshness and accuracy.",
        "operationId": "EndatixApiEndpointsAuthMe",
        "responses": {
          "200": {
            "description": "User information retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required."
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/auth/refresh-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh the access token",
        "description": "Generates a new access token using a valid refresh token.",
        "operationId": "EndatixApiEndpointsAuthRefreshToken",
        "requestBody": {
          "x-name": "RefreshTokenRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Access token successfully refreshed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired refresh token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new user",
        "description": "Creates a new user account in the Endatix application using the provided email and password.",
        "operationId": "EndatixApiEndpointsAuthRegister",
        "requestBody": {
          "x-name": "RegisterRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "User has been successfully registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Registration failed. Please check your input and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/send-verification-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send verification email",
        "description": "Sends a verification email to the specified email address if the user exists and is not already verified.",
        "operationId": "EndatixApiEndpointsAuthSendVerificationEmail",
        "requestBody": {
          "x-name": "SendVerificationEmailRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendVerificationEmailRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Verification email has been sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify email address",
        "description": "Verifies a user's email address using a verification token.",
        "operationId": "EndatixApiEndpointsAuthVerifyEmail",
        "requestBody": {
          "x-name": "VerifyEmailRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Email has been successfully verified. Returns the user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired verification token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Verification token not found."
          }
        }
      }
    },
    "/api/account/forgot-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Forgot password",
        "description": "Sends a password reset email to the user.",
        "operationId": "EndatixApiEndpointsAccountForgotPassword",
        "requestBody": {
          "x-name": "ForgotPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Password reset email sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForgotPasswordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or email.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/reset-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Reset password",
        "description": "Resets a user's password.",
        "operationId": "EndatixApiEndpointsAccountResetPassword",
        "requestBody": {
          "x-name": "ResetPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Password reset successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DefineFormResponse": {
        "type": "object",
        "description": "Response model for the AI-assisted form definition.",
        "additionalProperties": false,
        "properties": {
          "agentResponse": {
            "type": "string",
            "description": "The human-friendly response from the AI agent."
          },
          "definition": {
            "type": "string",
            "description": "The AI-generated or refined form definition.",
            "nullable": true
          },
          "agentId": {
            "type": "string",
            "description": "The agent ID for continuing the conversation."
          },
          "threadId": {
            "type": "string",
            "description": "The thread ID for continuing the conversation."
          }
        }
      },
      "DefineFormRequest": {
        "type": "object",
        "description": "Request model for defining a form using AI assistance.",
        "additionalProperties": false,
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "The prompt to guide the AI in form definition.",
            "maxLength": 10000,
            "minLength": 0,
            "nullable": false
          },
          "definition": {
            "type": "string",
            "description": "Optional existing form definition to refine or modify.",
            "maxLength": 100000,
            "minLength": 0,
            "nullable": true
          },
          "agentName": {
            "type": "string",
            "description": "Optional assistant ID for continuing a conversation."
          },
          "threadId": {
            "type": "integer",
            "description": "Optional thread ID for continuing a conversation.",
            "format": "int64",
            "nullable": true
          },
          "formId": {
            "type": "integer",
            "description": "Optional form ID to associate the conversation with a specific form.",
            "format": "int64",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int32",
            "default": 400
          },
          "message": {
            "type": "string",
            "default": "One or more errors occurred!"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "UserMessageDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "conversationId": {
            "type": "integer",
            "format": "int64"
          },
          "role": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "sequence": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetUserConversationMessagesRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "GetLatestConversationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "conversationId": {
            "type": "integer",
            "format": "int64"
          },
          "agentId": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "resultJson": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GetLatestConversationByFormIdRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "AssignRoleResponse": {
        "type": "object",
        "description": "Response for assigning a role to a user.",
        "additionalProperties": false,
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "AssignRoleRequest": {
        "type": "object",
        "description": "Request for assigning a role to a user.",
        "additionalProperties": false,
        "required": [
          "roleName"
        ],
        "properties": {
          "roleName": {
            "type": "string",
            "description": "The name of the role to assign.",
            "minLength": 1,
            "nullable": false
          }
        }
      },
      "GetUserRolesRequest": {
        "type": "object",
        "description": "Request for retrieving roles assigned to a user.",
        "additionalProperties": false
      },
      "RemoveRoleResponse": {
        "type": "object",
        "description": "Response for removing a role from a user.",
        "additionalProperties": false,
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "RemoveRoleRequest": {
        "type": "object",
        "description": "Request for removing a role from a user.",
        "additionalProperties": false
      },
      "CreateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThemeModel"
          },
          {
            "type": "object",
            "description": "Response model for creating a theme.",
            "additionalProperties": false
          }
        ]
      },
      "ThemeModel": {
        "type": "object",
        "description": "API model representing a theme.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the theme."
          },
          "name": {
            "type": "string",
            "description": "The name of the theme."
          },
          "description": {
            "type": "string",
            "description": "The description of the theme.",
            "nullable": true
          },
          "jsonData": {
            "type": "string",
            "description": "The JSON data representing the theme properties."
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the theme was created.",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "description": "The date and time when the theme was last modified.",
            "format": "date-time",
            "nullable": true
          },
          "formsCount": {
            "type": "integer",
            "description": "The count of forms using this theme.",
            "format": "int32"
          }
        }
      },
      "CreateRequest": {
        "type": "object",
        "description": "Request model for creating a new theme.",
        "additionalProperties": false,
        "required": [
          "name",
          "jsonData"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the theme.",
            "maxLength": 100,
            "minLength": 2,
            "nullable": false
          },
          "description": {
            "type": "string",
            "description": "The description of the theme (optional).",
            "nullable": true
          },
          "jsonData": {
            "type": "string",
            "description": "The JSON data representing theme properties (optional).",
            "minLength": 2,
            "nullable": false
          }
        }
      },
      "DeleteRequest": {
        "type": "object",
        "description": "Request model for deleting a theme.",
        "additionalProperties": false
      },
      "GetByIdRequest": {
        "type": "object",
        "description": "Request model for getting a theme by ID.",
        "additionalProperties": false
      },
      "ListRequest": {
        "type": "object",
        "description": "Request model for listing themes with optional pagination and filtering.",
        "additionalProperties": false
      },
      "PartialUpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThemeModel"
          },
          {
            "type": "object",
            "description": "Response model for partially updating a theme.",
            "additionalProperties": false
          }
        ]
      },
      "PartialUpdateRequest": {
        "type": "object",
        "description": "Request model for partially updating an existing theme.",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the theme (optional).",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "The description of the theme (optional).",
            "nullable": true
          },
          "jsonData": {
            "type": "string",
            "description": "The JSON data representing theme properties (optional).",
            "nullable": true
          }
        }
      },
      "UpdateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThemeModel"
          },
          {
            "type": "object",
            "description": "Response model for updating a theme.",
            "additionalProperties": false
          }
        ]
      },
      "UpdateRequest": {
        "type": "object",
        "description": "Request model for updating an existing theme.",
        "additionalProperties": false,
        "required": [
          "name",
          "jsonData"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the theme.",
            "maxLength": 100,
            "minLength": 2,
            "nullable": false
          },
          "description": {
            "type": "string",
            "description": "The description of the theme (optional).",
            "nullable": true
          },
          "jsonData": {
            "type": "string",
            "description": "The JSON data representing theme properties (optional).",
            "minLength": 2,
            "nullable": false
          }
        }
      },
      "TenantSettingsModel": {
        "type": "object",
        "description": "API model for tenant settings with sensitive data masked for security.",
        "additionalProperties": false,
        "properties": {
          "tenantId": {
            "type": "integer",
            "description": "The tenant identifier.",
            "format": "int64"
          },
          "submissionTokenExpiryHours": {
            "type": "integer",
            "description": "Submission token expiration time in hours. Null indicates tokens never expire.",
            "format": "int32",
            "nullable": true
          },
          "isSubmissionTokenValidAfterCompletion": {
            "type": "boolean",
            "description": "Indicates whether submission tokens remain valid after submission completion."
          },
          "slackSettings": {
            "description": "Slack integration settings with sensitive data masked.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/SlackSettingsModel"
              }
            ]
          },
          "webHookSettings": {
            "description": "Webhook configuration with sensitive data masked.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/WebHookConfigurationModel"
              }
            ]
          },
          "modifiedAt": {
            "type": "string",
            "description": "Last modification timestamp.",
            "format": "date-time",
[...]
