<?xml version="1.0" encoding="utf-8"?>
<!-- Code coverage run settings - exclude migration assemblies from coverage. -->
<!-- See: https://learn.microsoft.com/en-us/visualstudio/test/customizing-code-coverage-analysis -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <LogLevel>Verbose</LogLevel>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <ExcludeByFile>
            **/Migrations/*.cs,
            **/Program.cs,
            **/AssembyReference.cs,
            **/*.Designer.cs
          </ExcludeByFile>

          <ExcludeByAttribute>
            Obsolete,
            GeneratedCodeAttribute,
            CompilerGeneratedAttribute,
            ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>

          <Exclude>
            [*Tests]*,
            [*]Endatix.Persistence.*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
