$primary-color: rgb(0, 84, 209);
$gray-color: rgba(144, 144, 144, 0.5);


/* Primary color variable */
global {
    --primary-color: rgb(0, 84, 209);
}


#creator {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 4px;
    position: relative;

    .svc-flex-row {
        background: transparent !important;
    }
}